.example-container {
    overflow-x: scroll;
  }

  
th.mat-header-cell{

   
    background-color: #f1f0f0;
font-weight: bold;

font-size: 14px;
min-width: 130px !important;
text-align: center !important;

}




tr.mat-header-row{

    height: 20px !important;
    text-align: center !important;
   
}
.mat-cell{
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
}

td{
    border: 1px solid #D1CFCF;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.87);
    width: 70% !important;
}

th {
    border: 1px solid rgba(0,0,0,.16);
}