<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="Javascript:void(0)" [routerLink]="['/Employee']"> Employee</a>
  </li>

  <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> Employee Leave List</li>
</ol>
<div class="row form-group">
  <div class="col-md-12 col-xs-12">
    <b style="float:right;">{{pgname}} - {{finyear}}</b>
  </div>
</div>

<form class="form-horizontal" #searchForm="ngForm">
  <div class="row form-group">
    <div class="col-md-12">
      <h5 style="float: left;">Salary Approval List </h5>
    </div>
  </div>
  <div class="card card-default mb-3" style="padding: 20px !important;">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 ">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <label>Month</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <select class="form-control" name="month" ngModel [(ngModel)]="searchmonth">
              <option  [ngValue]="select">Select</option>
              <option>JANUARY</option>
              <option>FEBRUARY</option>
              <option>MARCH</option>
              <option>APRIL </option>
              <option>MAY</option>
              <option>JUNE</option>
              <option>JULY</option>
              <option>AUGUST</option>
              <option>SEPTEMBER</option>
              <option>OCTOBER</option>
              <option>NOVEMBER</option>
              <option>DECEMBER</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label>Year</label>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <select class="form-control" name="year" ngModel [(ngModel)]="searchyear">
              <option  [ngValue]="select">Select</option>
              <option>2018-2019</option>
              <option>2019-2020</option>  
            </select>
          </div>
        </div>
      </div>
    </div><br>
    <br>
    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 form-group">
        <div class="row">
          <button type="button" class="btn btn-warning"
            (click)="filterrecord(searchmonth,searchyear)">Find</button>
        </div>
      </div>
    </div>
  </div>
  <span>
  </span>
  <div style="margin:5px">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <b>Total Records:{{count}}</b>
        <b> <span *ngIf="!count || count.length==0">0</span></b>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <pagination-controls style="float: right" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
        <thead>
          <tr class="warning">
            <td>
              <b>Sr NO.</b>
            </td>
            <td>
              <b>Salary Approval</b>
            </td>
            <td>
              <b>Month</b>
            </td>
            <td>
              <b>Year</b>
            </td>
            <td>
              <b>Operation</b>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr #myVar
            *ngFor="let salapproval of salapproval| paginate: { itemsPerPage: 20, currentPage: p  } let i = index;">
            <td>{{i+1}}</td>
            <td>
              {{salapproval.salapprovalname}}
            </td> 
            <td>
              {{salapproval.salmonth}}
            </td>
            <td>
              {{salapproval.salyear}}
            </td>
            <td>
              <a [routerLink]="['/ApproveSalary',salapproval.salapproval,salapproval.salmonth,salapproval.salyear]">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>