$background-color: #292931;
$button-color: #F3DB09;
$button-width: 1em;

label[for="file-input"]{
  display: block;
  margin-top: 1em;
  font-size: 1em;
  color: #292931;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
  
  cursor: pointer !Important;
  
  &::-webkit-file-upload-button {
    background: $button-color;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    color: #292931;
    border-radius: .2em;
  }
  
  &::-ms-browse {
    background: $button-color;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
  }
  
}

