<div class="row form-group">
  <div class="col-md-12 col-xs-12">
  <b  style="float:right;">{{pgname}} - {{finyear}}</b>
  </div>
  </div>

  <h5>Generate Salary</h5>

<form #UpdateForm="ngForm">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="form-group">
   
        <mat-spinner-button class="btn" [options]="spinnerButtonOptions" (btnClick)="someFunc()" (click)="save()">Save
        </mat-spinner-button>
   
      </div>
    </div>
  </div>


  <div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px !important;">
        
          <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"
            [checked]="selection.hasValue() && isAllSelected()" 
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td  mat-cell *matCellDef="let Getempsalary" style="padding-right: 2%;">
          <mat-checkbox (click)="$event.stopPropagation()"  [value]="this.approve" [(ngModel)]="Getempsalary.approve"
          [ngModelOptions]="{standalone: true}"
            (change)="$event ? selection.toggle(Getempsalary) : null;isSomeSelected()" [checked]="selection.isSelected(Getempsalary)"
            style="margin-left: 25px !important;">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeename">
        <th mat-header-cell *matHeaderCellDef style="min-width: 130px !important;">   Employee Name </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.employeename}} </td>
      </ng-container>

      <ng-container matColumnDef="grosssalary" >
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;"> Gross Salary </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.grosssalary}} </td>
      </ng-container>


      <ng-container matColumnDef="absentday" >
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;">  Absent Day </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.absentday}} </td>
      </ng-container>


      <ng-container matColumnDef="basicsal">
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;"> Basic Salary </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.basicsal}} </td>
      </ng-container>

      <ng-container matColumnDef="hra">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px !important;"> HRA </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.hra}} </td>
      </ng-container>

      <ng-container matColumnDef="ta">
        <th mat-header-cell *matHeaderCellDef style="min-width: 60px !important;"> TA </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.ta}} </td>
      </ng-container>

      <ng-container matColumnDef="oa">
        <th mat-header-cell *matHeaderCellDef style="min-width: 60px !important;"> OA </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.oa}} </td>
      </ng-container>


      <ng-container matColumnDef="absentamt">
        <th mat-header-cell *matHeaderCellDef style="min-width: 130px !important;"> Absent Amount </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.absentamt}} </td>
      </ng-container>


      <ng-container matColumnDef="epfamt">
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;">Employee PF</th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.epfamt}} </td>
      </ng-container>

      <ng-container matColumnDef="esicamt">
        <th mat-header-cell *matHeaderCellDef style="min-width: 130px !important;">Employee ESIC </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.esicamt}} </td>
      </ng-container>

      <ng-container matColumnDef="tds">
        <th mat-header-cell *matHeaderCellDef> TDS </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.tds}} </td>
      </ng-container>


      <ng-container matColumnDef="pt">
        <th mat-header-cell *matHeaderCellDef> PT </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.pt}} </td>
      </ng-container>


      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> Telephone </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.telephone}} </td>
      </ng-container>

      <ng-container matColumnDef="advance">
        <th mat-header-cell *matHeaderCellDef> Advance </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.advance}} </td>
      </ng-container>


      <ng-container matColumnDef="loan">
        <th mat-header-cell *matHeaderCellDef> Loan </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.loan}} </td>
      </ng-container>


      <ng-container matColumnDef="totdeduct">
        <th mat-header-cell *matHeaderCellDef style="min-width: 130px !important;"> Total Deduction </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.totdeduct}} </td>
      </ng-container>


      <ng-container matColumnDef="netsalary">
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;"> Net Salary </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.netsalary}} </td>
      </ng-container>


      <ng-container matColumnDef="epfamt2">
        <th mat-header-cell *matHeaderCellDef style="min-width: 110px !important;"> Employer PF </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.epfamt2}} </td>
      </ng-container>


      <ng-container matColumnDef="esicamt2">
        <th mat-header-cell *matHeaderCellDef style="min-width: 130px !important;">Employer ESIC </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.esicamt2}} </td>
      </ng-container>


      <ng-container matColumnDef="ctc">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px !important;"> CTC </th>
        <td mat-cell *matCellDef="let Getempsalary"> {{Getempsalary.ctc}} </td>
      </ng-container>

      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef > Remark </th>
        <td mat-cell *matCellDef="let Getempsalary">

          <mat-form-field floatLabel="never">
            <input matInput [value]="this.remark" [(ngModel)]="Getempsalary.remark"
              [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef style="min-width: 80px !important;">
        
          <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td  mat-cell *matCellDef="let Getempsalary" >
          <mat-checkbox (click)="$event.stopPropagation()"  [value]="this.approve" [(ngModel)]="Getempsalary.approve"
          [ngModelOptions]="{standalone: true}"
            (change)="$event ? selection.toggle(Getempsalary) : null;isSomeSelected()" [checked]="selection.isSelected(Getempsalary)"
            style="margin-left: 25px !important;">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

    </table>

  </div>

</form>