<div class="row form-group">
  <div class="col-md-12 col-xs-12">
  <b  style="float:right;">{{pgname}} - {{finyear}}</b>
  </div>
  </div> 
  

<form [formGroup]="PartnerForm" (ngSubmit)="AddPartnerDetail(PartnerForm.value)">
   

  <div class="button-row">
    <h4>  Center Partner Details</h4>
    <span>
      <button type="button" class="btn btn-warning"  (click)="back()">Back</button>
      </span>&nbsp;&nbsp;&nbsp;
   

    <span>
      <button type="button" class="btn btn-warning" style="float: right;" (click)="Skip()">Skip</button>
      </span>
    
    <hr>
  </div>
<div class="card card-default mb-3" style="padding: 20px;"> 
<div class="row">

<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
<div class="row form-group" [ngClass]="{'has-error': ((PartnerForm.get('stdt').touched ||
PartnerForm.get('stdt').dirty) &&
PartnerForm.get('stdt').errors)}">
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
<label>Start Date:</label>
<span style="color: red"> *</span>
</div>
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
<input id="stdt" type="date" class="form-control" formControlName="stdt" [(ngModel)]="model.stdt">
<span class="text-danger" *ngIf="((PartnerForm.get('stdt').touched ||
PartnerForm.get('stdt').dirty) &&
PartnerForm.get('stdt').errors)">
<small *ngIf="PartnerForm.get('stdt').errors.required">
Start Date is required
</small>
</span>
</div>
</div>

</div>
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12"> 
<div class="row form-group" [ngClass]="{'has-error': ((PartnerForm.get('endt').touched ||
PartnerForm.get('endt').dirty) &&
PartnerForm.get('endt').errors)}" >
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
<label>End Date:</label>
<span style="color: red"> *</span>
</div>
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
<input id="endt" type="date" class="form-control" formControlName="endt" [(ngModel)]="model.endt">
<span class="text-danger" *ngIf="((PartnerForm.get('endt').touched ||
PartnerForm.get('endt').dirty) &&
PartnerForm.get('endt').errors)">
<small *ngIf="PartnerForm.get('endt').errors.required">
End Date is required
</small>
</span>
</div>
</div>

</div>
<!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> -->
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
<div class="row form-group" [ngClass]="{'has-error': ((PartnerForm.get('partnerid').touched ||
PartnerForm.get('partnerid').dirty) &&
PartnerForm.get('partnerid').errors)}">
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
<label>Partner:</label>
<span style="color: red"> *</span>
</div>
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
  <select class="form-control" name="partnerid" formControlName="partnerid" [ngModel]="partner?.partnerid"  [(ngModel)]="model.partnerid">
    <option [ngValue]="null">Select</option>
    <option *ngFor="let Partnerlist of Partnerlist" value={{Partnerlist.column2}}>{{Partnerlist.column1}}
    </option>
  </select>
<div class="text-danger" *ngIf="((PartnerForm.get('partnerid').touched ||
PartnerForm.get('partnerid').dirty) &&
PartnerForm.get('partnerid').errors)">
<small *ngIf="PartnerForm.get('partnerid').errors.required">
  Partner is required
</small>
</div>
</div>
</div>
</div>
<!-- </div> -->
</div>
<div class="row"  >
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
<div class="form-group"  >
<button type="submit" class="btn btn-warning" [disabled]="!PartnerForm.valid" >Submit</button>
</div>
</div>
</div>
<div class="table-responsive">
<table class="table">
<thead>
<tr class="warning">
<td><b>SR NO.</b></td>
<td>
<b>Partner Name	</b>
</td>
<td>
<b>Start Date	</b>
</td>
<td>
<b>End Date	</b>
</td>
<td>
<b>Status	</b>
</td>
<td>
<b>Remove</b>
</td>
</tr>
</thead>
<tbody>
<tr #myVar *ngFor="let CenterPartner of CenterPartner let i = index;" >
<td>{{i+1}}</td>
<td>


{{CenterPartner.partnername}}

</td>
<td>
{{CenterPartner.stdt| date: 'dd-MM-yyyy' }}
</td>
<td>
{{CenterPartner.endt| date: 'dd-MM-yyyy' }}
</td>
<td>
<div *ngIf="CenterPartner?.status==0">Active</div>
<div *ngIf="CenterPartner?.status==1">Inactive</div>
</td>
<td>

<b>
<a (click)="open(content)"  style="cursor: pointer; text-decoration: underline;">
Delete
</a></b>

<ng-template #content let-modal>
<div class="modal-header">
<h5 class="modal-title" id="modal-basic-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
Are you sure want to Delete ?</h5>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-info" (click)="Delete1(CenterPartner.cpid)" (click)="modal.close('Cross click')">Yes</button>
<button type="button" class="btn btn-info"  (click)="modal.dismiss('Cross click')">No</button>
</div>

</ng-template>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</form>