<!-- <div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="warning">
        <td><b>Sr No.</b></td>

        <td>
          <b>Employee Name</b>
        </td>
        <td>
          <b>Department Name</b>
        </td>
        <td>
          <b>Leave Type</b>
        </td>
        <td>
          <b>Leave Start</b>
        </td>
        <td>
          <b>Leave End</b>
        </td>
        <td>
          Status
        </td>
        <td>
          Operation
        </td>

      </tr>
    </thead>
    <tbody>
      <tr #myVar
        *ngFor="let EsclateLeave of EsclateLeave | paginate: { itemsPerPage: 10, currentPage: p  } let i = index; ">

        <td>{{i+1}}</td>

        <td>
          {{EsclateLeave.employeename}}
        </td>
        <td>
          {{EsclateLeave.depname}}
        </td>
        <td>
          {{EsclateLeave.leavetype}}
        </td>
        <td>
          {{EsclateLeave.leavefrom | date: "dd-MM-yyyy"}}
        </td>
        <td>
          {{EsclateLeave.leaveto | date: "dd-MM-yyyy"}}
        </td>
        <td>
          {{EsclateLeave.status}}
        </td>
        <td>
          <button class="btn btn-warning">Approve</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>   -->




<!-- <form  [formGroup]="ApproveForm"  (ngSubmit)="ApproveLeave(ApproveForm.value)"> -->
<div class="row form-group">
<div class="col-md-12 col-xs-12">
<b  style="float:right;">{{pgname}} - {{finyear}}</b>
</div>
</div> 
 
  <div class="row form-group" >
    <div class="col-md-12">
      <h4 style="float: left;">Esclation Leave List </h4>
     
</div>
</div>
    <div style="margin:5px">
      <div class="row">
   
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" >
          <b >Total Records: {{EsclateLeavecount}}</b>
          <b> <span *ngIf ="!empcount || empcount.length==0"></span></b>
        </div>
        <div  class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <pagination-controls style="float: right" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr class="warning">
              <td><b>Sr No.</b></td>

        <td>
          <b>Employee Name</b>
        </td>
        <td>
          <b>Department Name</b>
        </td>
        <td>
          <b>Leave Type</b>
        </td>
        <td>
          <b>Leave Start</b>
        </td>
        <td>
          <b>Leave End</b>
        </td>
        <td>
          <b>Status</b>
        </td>
        <td>
          <b> Operation</b>
        </td>
            </tr>
          </thead>
          <tbody>
            <tr #myVar
        *ngFor="let EsclateLeave of EsclateLeave | paginate: { itemsPerPage: 10, currentPage: p  } let i = index; ">

        <td>{{i+1}}</td>

        <td>
          {{EsclateLeave.employeename}}
        </td>
        <td>
          {{EsclateLeave.depname}}
        </td>
        <td>
          {{EsclateLeave.leavetype}}
        </td>
        <td>
          {{EsclateLeave.leavefrom | date: "dd-MM-yyyy"}}
        </td>
        <td>
          {{EsclateLeave.leaveto | date: "dd-MM-yyyy"}}
        </td>
        <td>
          {{EsclateLeave.status}}
        </td>
        <td>
          <button class="btn btn-warning" (click)="ApproveLeave(EsclateLeave.empleaveid,EsclateLeave.empid)">Approve</button>
        </td>
      </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!-- </form> -->