<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="Javascript:void(0)" [routerLink]="['/Employee']"> Employee</a>

  </li>

  <li class="breadcrumb-item active"><i class="fa {{icon}}"></i>Salary List</li>
</ol>

<div class="row form-group">
  <div class="col-md-12 col-xs-12">
    <b style="float:right;">{{pgname}} - {{finyear}}</b>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12">
    <h3 style="float: left;">Salary List </h3>
  </div>
</div>

<div class="card card-default mb-3" style="padding: 20px !important;">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <label>Program </label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <select class="form-control" name="Program" [(ngModel)]="searchprogram"
            (change)="onSelectProgram($event.target.value)">
            <option [ngValue]="select">Select</option>
            <option *ngFor="let ProgramList of ProgramList" value={{ProgramList.column2}}>{{ProgramList.column1}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <label>Department </label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <select class="form-control" name="Department" [(ngModel)]="searchdepartment">
            <option [ngValue]="select">Select</option>
            <option *ngFor="let Departmentlist of Departmentlist" value={{Departmentlist.column2}}>
              {{Departmentlist.column1}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <label>Month </label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <select class="form-control" name="Month " [(ngModel)]="searchmonth">
            <option [ngValue]="select">Select</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April </option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <label>Year </label>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <select class="form-control" name="Year" [(ngModel)]="searchyear">
            <option [ngValue]="select">Select</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 form-group">
      <div class="row">
        <button type="button" class="btn btn-warning"
          (click)="filterrecord(searchprogram,searchdepartment,searchmonth,searchyear)">Search</button>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 form-group">
      <div class="row">
        <button type="button" class="btn btn-warning" [routerLink]="['/Salary']">Generate Salary</button>
      </div>
    </div>
  </div>
</div>
<div style="margin:5px">
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
      <b>Total Record: {{salcount}}</b>
      <b> <span *ngIf="!salcount || salcount.length==0"></span></b>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
      <pagination-controls style="float: right" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="warning">
          <td>
            <b>Sr No</b>
          </td>
          <td>
            <b>ID</b>
          </td>
          <td>
            <b>Department</b>
          </td>
          <td>
            <b>Month</b>
          </td>
          <td>
            <b>Year</b>
          </td>
          <td>
            <b>Prepareby</b>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr #myVar
          *ngFor="let salarylist of salarylist| paginate: { itemsPerPage: 20, currentPage: p  } let i = index;">
          <td>{{i+1}}</td>
          <td><b>
              <a [routerLink]="['/SalaryDetails',salarylist.salid ]">
                {{salarylist.salid }}
              </a></b>
          </td>
          <td>
            {{salarylist.depname }}

          </td>
          <td>
            {{salarylist.salmonth  }}
          </td>
          <td>
            {{salarylist.salyear   }}
          </td>
          <td>
            {{salarylist.preparename }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>