.subject {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #D8D8D8;
    width: 382px;
    text-align: center;
    background-color: #fff;
  }
  
  .link {
    margin-left: 26px;
    font-size: 11px;
    text-decoration: underline;
    
  }
  
  .container {
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    width: 549px;
    height: 72px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-color: #fff;
    margin-left: inherit;
  }
  
  .last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #D8D8D8;
    width: 382px;
  }
  
  .content {
    font-size: 14px;
    padding: 12.99px 3.34px 35.66px 7.24px;
  }
  
  .time {
    color: #979797;
    font-size: 12px;
    margin-top: 4.36px;
  }
  
  .icon {
    margin-top: 19px;
    margin-left: 16px;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #818181;
  }
  
  .txt {
    color: #818181;
    margin: 6px;
  }
  
  .triangle {
    margin-left: 300px;
    width: 0px;
    height: 0px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0px 25px 25px 25px;
    transform: translateY(1px)
  }




// Sticky notes------------------------------
*{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}
h2,p{
  font-size:100%;
  
  font-weight:normal;
  color: black;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#f6ff7a;
  display:block;
  height:15em;
  width:15em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:150%;
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cc69f3;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#f26b6b;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background: #6bbcf2;
}
ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}