<ol class="breadcrumb" *ngFor="let  DeptEmpAtt of DeptEmpAtt ">
    <li class="breadcrumb-item">
        <a href="Javascript:void(0)" [routerLink]="['/Employee']"> Employee</a>
    </li>
    <li class="breadcrumb-item">
        <a href="Javascript:void(0)" [routerLink]="['/EmployeeAttendanceList']">Attendance List</a>
    </li>
    <li class="breadcrumb-item">
        <a href="Javascript:void(0)"
            [routerLink]="['/DepartmentWiseEmpAttList',DeptEmpAtt.depid,DeptEmpAtt.month,DeptEmpAtt.year]">Departmentwise
            Attendance List</a>
    </li>
    <li class="breadcrumb-item active"><i class="fa {{icon}}"></i>Employee Attendance Graph</li>
</ol>

<div class="row form-group">
    <div class="col-md-12 col-xs-12">
    <b  style="float:right;">{{pgname}} - {{finyear}}</b>
    </div>
    </div> 
<div style="padding: 20px;">

    <h2>
        Employee Attendance Graph
    </h2>


</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let  DeptEmpAtt of DeptEmpAtt ">
        <div class="card card-default mb-3" style="padding: 20px;">
            <div class="row form-group">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label><b>Employee Name:</b></label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    {{DeptEmpAtt.empname}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <label><b>Department:</b></label>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    {{DeptEmpAtt.depname}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <b> Month/Year</b>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    {{DeptEmpAtt.month1}} / {{DeptEmpAtt.year}}
                </div>
            </div>
            <br>
            <div class="row form-group">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <b></b>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

                </div>
            </div>
          
           
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="card card-default mb-3" id="dvdata" style="padding: 20px;">
            <div class="row form-group">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <label><b> Present Days:</b></label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {{ this.presentdays}}/{{this.totworking}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <label><b> Absent Days:</b></label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {{ this.totabsent}}/{{this.totworking}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <b> Working Hours:</b>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {{ this.totalwh}}/{{this.totworking*8}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <b> Working Hours Percentage:</b>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    {{ (this.percentage/100) | number |percent: '2.2'}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Attendance Graph</b>
            </mat-panel-title>
        </mat-expansion-panel-header>


        <div style="text-align:center">

            <h5 class="text-secondary">
                Attendance Summary
            </h5>
            <br>
            <div style="display: block" *ngIf="lineChartData">
                <canvas baseChart height="100px" [options]="linechartOptions" [legend]="true" [colors]="lineChartColor"
                    [datasets]="lineChartData" [labels]="linechartLabels" [chartType]="lineChartType">
                </canvas>
            </div>
        </div>
        <br>
        <div style="text-align:center">

            <h5 class="text-secondary">
                Overall Summary
            </h5>
            <br>

            <div style="display: block" *ngIf="pieChartData">
                <canvas baseChart height="100px" [colors]="pieChartColor" [data]="pieChartData"
                    [labels]="pieChartLabels" [options]="piechartOptions" [chartType]="pieChartType"></canvas>
            </div>

        </div>
        <br>
        <div style="text-align:center">
            <h5 class="text-secondary">
                Monthwise Summary
            </h5>
            <br>

            <div class="row ml-5">
                <div *ngIf="dept" style="align-items: center;width:900px;height:500px;">
                    <canvas id="canvas" width="2">{{ dept }}</canvas>
                </div>
            </div>
        </div>


    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                    <b>Attendance Details</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="table table-bordered">
            <thead>
                <tr class="warning">
                    <td><b>Sr NO.</b></td>

                    <td>
                        <b>Date</b>
                    </td>

                    <td>
                        <b>In Time</b>
                    </td>
                    <td>
                        <b>Out Time</b>
                    </td>
                    <td>
                        <b>Working Hrs</b>
                    </td>
                    <td>
                        <b>Status</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr #myVar
                    *ngFor="let  EmployeeAttDetailsData of EmployeeAttDetailsData| paginate: { itemsPerPage: 31, currentPage: p  } let i = index; ">

                    <td>{{i+1}}</td>

                    <td>{{EmployeeAttDetailsData.date |  date: 'dd/MM/yyyy'}}</td>
                    <td>{{EmployeeAttDetailsData.startlog}}</td>
                    <td>{{EmployeeAttDetailsData.endlog}}</td>
                    <td>{{EmployeeAttDetailsData.workinghr | number}}</td>
                    <td>{{EmployeeAttDetailsData.status}}</td>

                </tr>
            </tbody>
        </table>
    </mat-expansion-panel>
</mat-accordion>