<form class="form-horizontal" #searchForm="ngForm">
  <div class="row form-group">
    <div class="col-md-12">
      <h4 style="float: left;">Daily WorkList </h4>
    </div>
  </div>
  <div class="card card-default mb-3" style="padding: 20px !important;">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label>Date</label>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <input id="date" type="date" class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="searchdate"
              [ngModelOptions]="{standalone: true}">

          </div>


        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label>Employee Name</label>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <select class="form-control"   name="Month"  
            [(ngModel)]="searchname" >
            <option [ngValue]="select">Select</option>
            <option value={{UserId}}>{{username}}</option>
            <option *ngFor="let employeelist of employeelist" value={{employeelist.column2}}>{{employeelist.column1}}</option>
            
              </select>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <label>Month</label>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <select class="form-control"   name="Month"  
                  [(ngModel)]="searchmonth">
                  <option [ngValue]="select">Select</option>
                  <option value="01">JANUARY</option>
                  <option value="02">FEBRUARY</option>
                  <option value="03">MARCH</option>
                  <option value="04">APRIL </option>
                  <option value="05">MAY</option>
                  <option value="06">JUNE</option>
                  <option value="07">JULY</option>
                  <option value="08">AUGUST</option>
                  <option value="09">SEPTEMBER</option>
                  <option value="10">OCTOBER</option>
                  <option value="11">NOVEMBER</option>
                  <option value="12">DECEMBER</option>
                    </select>

          </div>
        </div>
      </div>
    </div>

    <br>
  

    <div class="row">
      <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 form-group">
          <div class="row">
            <button type="button" class="btn btn-warning" (click)="filterrecord(searchdate,searchname,searchmonth)">Search</button>

       </div>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 form-group" >
          <div class="row">
              <button type="button" class="btn btn-warning" [routerLink]="['/AddDailyWork']">New Task</button>
        </div>
      </div>
    </div>
  </div>

  <div style="margin:5px">
    <div class="row">

      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
        <b>Total Records: {{DailyWorkcount}}</b>
        <b> <span *ngIf="!DailyWorkcount || DailyWorkcount.length==0"></span></b>
      </div>
      <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
        <pagination-controls style="float: right" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
        <thead>
          <tr class="warning">
            <td>
              <b>Sr NO.</b>
            </td>
         
            <td>
              <b>User Name</b>
            </td>
            <td>
              <b>Report Date</b>
            </td>
            <td>
              <b>Start Time</b>
            </td>
            <td>
              <b>End Time</b>
            </td>
            <td>
              <b>Task</b>
            </td>
            <td>
              <b>Total Hours</b>
            </td>
            <td>
              <b>View Summary</b>
            </td>

          </tr>
        </thead>
        <tbody>
          <tr #myVar
            *ngFor="let DailyWork of DailyWork| paginate: { itemsPerPage: 20, currentPage: p  } let i = index;">
            <td>{{i+1}}</td>
            <td>
              {{DailyWork.fullname}}
            </td>
          
            <td>
              <b><a  [routerLink] = "['/AddExtraDailyWork',DailyWork.userid,DailyWork.reportdate| date: 'dd-MM-yyyy']"> {{DailyWork.reportdate| date: 'dd-MM-yyyy'}}</a></b>
             
            </td>
            <td>
              {{DailyWork.starttime}}
            </td>
            <td>
              {{DailyWork.endtime}}
            </td>
            <td>
              {{DailyWork.tottasks}}
            </td>
             <td>
              {{DailyWork.totaltime}}
             
            </td>
             <td>
             
              <b><a [routerLink] = "['/DailyWorkSummary',DailyWork.userid,DailyWork.reportdate| date: 'dd/MM/yyyy']">Summary</a></b>
            </td>
          </tr>
        </tbody>
        <tr style="text-align: center;">
          <td colspan="14" *ngIf="!DailyWorkcount || DailyWorkcount.length==0">
            <b>No Data Found</b></td>
        <tr>
      </table>
    </div>
  </div>



</form>

